* {
  box-sizing: border-box;
}

html {
  line-height: 1.1;
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin: 12px 0;
}

p {
  margin: 12px 0;
  color: grey;
}

hr {
  margin: 24px;
  color: grey;
}
