* {
  box-sizing: border-box;
}

html {
  font-size: 0.9rem;
  line-height: 1.1;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 48px 0 12px;
  margin-top: 0;
}

h2 {
  margin: 12px 0;
}

p {
  margin: 12px 0;
  color: grey;
}

hr {
  margin: 24px;
  color: grey;
}
